In [ ]:
status = lambda notas : 'aprovado' if sum(notas)/len(notas) >= 6 else 'reprovado'
print(status([int(input(f'Nota {x}: ')) for x in range(1,4)]))

# receba notas
# calcule a média da lista
# se media < 6
#     retorne reprovado
# senao
#     retorne aprovado

In [ ]:
renda = lambda n, p1, p2, p3, p4  :  n*((p1/100) + (5*p2/100) + (10*p3/100) + (20*p4/100))
print(list(map(lambda x: int(x)+2, input('Digite três algarismos: ').split())))

# enquanto x < número de jogos
#   x += 1
#   leia (N, p1, p2, p3, p4)
#   retorne  n*((p1/100) + (5*p2/100) + (10*p3/100) + (20*p4/100))

In [ ]:
receba os valores n1, n2 e n3
se n1, n2 e n3 possuírem apenas um dígito
  concatene os valores como uma string
senao
  retorne 'DIGITO INVALIDO'
apague os zeros à esquerda
retorne como um número

In [ ]:
s <- valor do salário mínimo houseWaste <- quantidade gasta de kW por uma residência

leia (s) leia (houseWaste)

vkW = s*(7/10)

imprima 'Custo por kW: R (vkW)'
imprima 'Custodoconsumo:R  (houseWastevkW)'
imprima 'Custo com desconto R$ (houseWastevkW*9/10)'

In [ ]:
acc <- leia(conta do cliente)
waste <- leia(consumo em m³)
typeAcc <- leia(tipo do consumidor)

se typeAcc = R
  value <- 5 + 0,05*waste
se typeAcc = C
  value <- (waste-80)*0,25 + 500
se typeAcc = I
  value <- (waste-100)*0,04 + 800

imprima 'CONTA =' + acc
imprima 'VALOR DA CONTA =' + value

In [ ]:
x <- 0 (contador)
values <- leia(valores)

enquanto x < leia(numero de temperaturas)
  cTemp = 5 * (values[x]-32) / 9
  imprima values[x] + 'FAHRENHEIT EQUIVALE A' + cTemp + 'CELSIUS'
  x <- x+1

In [ ]:
temp <- leia(temperatura)
height <- leia(altura)

imprima 'O VALOR EM CELSIUS =' + (5*temp - 160)/9 + '\n'
        'A QUANTIDADE DE CHUVA =' + (25.4*height)

In [ ]:
r <- leia(raio)
h <- leia(altura)

imprima 'O VALOR DO CUSTO E =' + (2*pi*r**2 + 2*pi*r*h)*100

In [ ]:
delta <- (leia(B)**2 - 4*leia(A)*leia(C)) # APROXIME PARA 2 CASAS DECIMAIS
imprima 'O VALOR DE DELTA E =' + delta

In [ ]:
det <- leia(A)*leia(D) - leia(B)*leia(C) # APROXIME PARA 2 CASAS DECIMAIS
imprima 'O VALOR DO DETERMINANTE E =' + det

In [ ]:
se leia(n)%3==0 e leia(n)%5==0
  imprima 'O NUMERO E DIVISIVEL'
senao
  imprima 'O NUMERO NAO E DIVISIVEL'

In [ ]:
x <- leia(tempo)

se x <= 3
  value <- x*5
senao
  value <- 3*5 + (x-3)/3 * 10

imprima 'O VALOR A PAGAR E =' + value

In [ ]:
nota <- leia(nota)

se 9 <= nota <= 10
  conceito <- 'A'
se nota >= 7.5
  conceito <- 'B'
se nota >= 6
  conceito <- 'C'
senao
  conceito <- 'D'

imprima 'NOTA =' + nota + 'CONCEITO =' + conceito

In [ ]:
volume = lambda h, a: 6*(a**2*(3**(1/2))/4) * h/3
data = list(map(lambda x: float(x), input('Dados: ').split()))
print(f'O VOLUME DA PIRAMIDE E = {volume(data[0], data[1]):.2f} METROS CUBICOS')

# EM ALGORITMO:

# h, a <- leia(altura, aresta)
# imprima 'O VOLUME DA PIRAMIDE E =' + 6*(a**2*(3**(1/2))/4) * h/3

In [ ]:
x <- 2 #contador

enquanto x <= leia(n):
  imprima '(x)^2 =' x**2
  x += 2

In [ ]:
salary <- leia(salario)

se salary <= 300
  new <- salary*1.5
senao
  new <- salary*1.3

imprima 'SALARIO COM REAJUSTE =' + new

In [ ]:
x, y <- leia(x), leia(y)

se x%2==0
  c <- 0
  enquanto c < y
    imprima x + 2*c
    c += 1
senao
  imprima 'O PRIMEIRO NUMERO NAO E PAR'

In [ ]:
a0 = leia(valor inicial)
r = leia(razao)
n = leia(numero de termos)

lista <- []
x <- 0

enquanto x < n
  adicione a lista(a0+n*r)
  x += 1

imprima soma(lista)

In [ ]:
x <- 0

lista = [1]

se inteiro(n) = n e n > 1
  x <- 1
  enquanto x < n:
    x += 1
    adicione a lista(1/x)
  imprima soma(lista) # APROXIME PARA 6 CASAS DECIMAIS
senao
  imprima 'Numero invalido!'

In [ ]:
secs = lambda dados: dados[0]*3600+dados[1]*60+dados[2]
nomes = ['Horas', 'Minutos', 'Segundos']
print('O TEMPO EM SEGUNDOS E =', secs([int(input(f'{nomes[x]}: ')) for x in range(0,3)]))

# EM ALGORITMO:

# h, m, s = leia(horas), leia(minutos), leia(segundos)
# imprima 'O TEMPO EM SEGUNDOS E =' + (h*3600+m*60+s)